<!DOCTYPE html>
<html>
    <head>
        <title>Menu de usuario</title>
    </head>

    <body>
        <form action = "/salvauser" method="POST">
            <label for="nome">Digite seu nome:</label>
            <input type="text" id="nome" name="nome">
            <button type="submit">Iniciar Sessão</button>
        </form>
        {{#nome}}
            <h2>{{nome}}</h2>
            <br/>
            <button id="botao">Gerar Número</button>
            <br/>
            {{#num}}
            <p>Número aleatório: {{num}}</p>
            {{/num}}
        {{/nome}}

    </body>
</html>